body {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile-container {
    background-image: url("../assets/profile_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.profile-card {
  min-height: auto;
  max-width: 1200px;
  margin: auto;
}

 

.profile-info {
    border: solid grey 2px;
    background-color: rgb(255, 255, 255, 20%);
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.profile-info:hover{
    background-color: rgb(255, 255, 255, 70%);
    border-color: black;
    color: crimson;
    transform: scale(1.01);
}



.profile-img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;    
    background-color: #eee;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 20px;
}

 
#uploadPhoto {
    display: none;
}

 
.camera-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.camera-icon i {
    font-size: 16px;
    color: #333;
}

.camera-icon:hover {
    background-color: crimson;
}

.camera-icon:hover i {
    color: white;
}