h1.header {
    background-color: antiquewhite;
    color: crimson;
    padding: 1%;
    margin: 0%;
}

header, body {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}