h1.header {
    background-color: black;
    color: crimson;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.my-flex{
    display: flex; 
        flex-grow: 1; 
        align-items: center;
  
}

.main {
    height: 100vh;        
    display: flex;          
    flex-direction: column; 
}
.my-title {
    padding-top: 12.5px;
    margin-bottom: 25px;
     
  
}


.par {
    width: 500px;      
    font-size: 15px; 
    line-height: 1.5;   
     
  
}



.body1 {
    position: relative;
    background-image: url('../assets/Medion-Grifols-Diagnostics-01_web.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     min-height: 100vh;
      background-attachment: fixed;
    
    
}
  
 


.contain {
    position: relative;
    z-index: 1; 
}


.header1{
 display: flex; 
  width:100%;
  padding: 10px 5px;
  color:#e0dddd  ;
  gap: 10px;  

}
 .logo {
    width: 50px;            
    height: 50px;
     z-index: 1; 
}

.profile-container {
    background-image: url("../assets/profile_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.profile-card {
  min-height: auto;
  max-width: 1200px;
  margin: auto;
}

 

.profile-info {
    border: solid grey 2px;
    background-color: rgb(255, 255, 255, 20%);
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.profile-info:hover{
    background-color: rgb(255, 255, 255, 70%);
    border-color: black;
    color: crimson;
    transform: scale(1.01);
}



.profile-img-wrapper {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;    
    background-color: #eee;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 20px;
}

 
#uploadPhoto {
    display: none;
}

 
.camera-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.camera-icon i {
    font-size: 16px;
    color: #333;
}

.camera-icon:hover {
    background-color: crimson;
}

.camera-icon:hover i {
    color: white;
}


/* Sidebar */
.sidebar {
    width: 250px;
    background: #000000;
    height: 120vh;
    position: fixed;
    top: 60px;
    left: 0;
    padding-top: 20px;   
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
     
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    padding: 14px 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.sidebar li.active a,
.sidebar a:hover {
    background:#6f6d6d  ;
    border-radius: 10px;
}

/* Content */
.content {
    margin-left: 250px;
    padding: 65px;
    font-family:Arial, Helvetica, sans-serif;
}
 
.stats-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stat-box {
    width: 30%;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 8px #ddd;
    background-color: black;
}

.stat-box h3 {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.stat-box p {
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

 .container.c{
    background-color: #000000;
 }

.delete-box input[type="number"] {
    padding: 10px;
    height: 38px;
    font-size: 16px;
}

.delete-box input[type="submit"] { 
    height: 40px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
} 
 
.password-box {
    margin-top: 20px;
    background: #000000;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.password-box form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color:white;
}

.password-box form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.save-btn {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover {
    background: #0056b3;
}

.list-img{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
}

.action-btn{
    margin: 2px;
    width: 70px;
}
